.main{
    width: 100%;
    margin: 0px auto;
    @include flexIt(column);

    .contact {
        width: 100%;
        @include flexIt(column);
    }
}
.form {
    width: 80%;

    & > button {
        background: $secondary-color;
        padding: 8px;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        color: white;
    }
}
.form-group {
    @include flexIt(column);
    align-items: flex-start;
    border: none;
    width: 100%;
    margin: 25px auto;

    & > label {
        margin-bottom: 4px;
        color: #fff;
    }
    & > .form-control {
        outline: none;
        border: none;
        background: none;
        border-bottom: 2px solid $secondary-color;
        padding: 6px;
        padding-left: 0px;
        width: 100%;
        color: white;
        resize: none;
    }
}
