.main-content {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(
            to right,
            rgba($primary-color,1),
            rgba($primary-color, .6)
        ),
    url(../imgs/zayn2.jpg);
    background-position: right;
    background-size: cover;
    @include flexIt(column);

    .bio {
        @include flexIt(column);
    }

    @include lg {
        font-size: 2rem;
    }
}

.main-footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    @include flexIt(row);
    justify-content: space-between;
    padding: .3rem;

    .social-icons {
        font-size: 1.25rem;
        
        & a:hover {
            color: $secondary-color;
            @include easeTransition;
        }
    }

    .copyrights {
        font-size: .75rem;
        color: $secondary-color;
    }
}

.bio {
    span{
        color: $secondary-color;
    }
    h2 {
        border-bottom: 3px solid $secondary-color;
        padding-bottom: 5px;
        margin-bottom: 5px;
        padding-right: 10px;
        color: #fff;
    }

    .tags-container {
        @include flexIt(row);
    }

    .tags {
        animation: typing 4s steps(28);
        white-space: nowrap;
        overflow: hidden;
        margin-right: 3px;
        color: #fff;
    }
    .caret {
        width: 3px;
        background-color: #fff;
        animation: caret .4s infinite;
    }
}

